* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #111216;
  color: #eaeaf0;
  font-family: system-ui, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.2em;
}

p {
  margin-top: 1rem;
  opacity: 0.8;
}

span {
  display: inline-block;
  margin-top: 2rem;
  font-size: 0.9rem;
  opacity: 0.6;
  letter-spacing: 0.2em;
  font-style: italic;
}
img {
  width: 20rem;
  height: auto;
  margin-bottom: 1rem;
}
.quote {
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.autor {
  margin-top: 0.5rem;
  font-size: 1rem;
  opacity: 0.7;
}
